body {
    background-color: #000000;
}

.card-contact {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
}

.label {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 11px;
}

.btn {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: #2dca4b;
    border-color: #2dca4b;
    transition: all 0.6s ease-in-out; 
}

.placeholder:hover, .select:hover {
    border-color:  #2dca4b;
    transition: all 0.6s ease-in-out;
}

.placeholder, .select {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}

.message:hover {
    border-color:  #2dca4b;
}

.checkbox-policy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 18px;
}

.checkbox {
    margin-top: 12px;
    margin-bottom: 20px;
}

.policy {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 12px;
}