html {
  scroll-behavior: smooth;
}

h1, h2, h4, header {
  font-family: 'Rock Salt', cursive;
  /*font-family: 'Sedgwick Ave', cursive;*/
}
p, a {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 0;
  color: white;
  overflow-x: hidden;
}

/*section"head"*/

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
  padding: 100px 20vw;
  border: solid 1px #000000;
}

/*first-section*/

.landing-page {
  background-color: #000000;
}

header {
  font-size: 45px;
  font-weight: bolder;
}

.--nav-- {
  z-index: 1;
  margin: 10px;
  position: sticky;
  display: flex;
  justify-content: space-around;
  width: 600px;
  border: 1px solid black;
  padding: 10px;
  background-color: #233329;
  border-radius: 10px;
  opacity: 75%;
  }

  .--nav-- a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .--nav-- a:hover {
    background-color: rgb(214, 153, 255);
    color: black;
  }

  .sticky {
    position: sticky;
    top: 0;
  }

/* Float Shadow */
.h-f-s {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px #2dca4b;
  box-shadow: 0 0 1px #000000;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  }

  .h-f-s:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, #2dca4b 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, #2dca4b 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }

  .h-f-s:hover, .h-f-s:focus, .h-f-s:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }

  .h-f-s:hover:before, .h-f-s:focus:before, .h-f-s:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }

/*button*/
.btn {
  display: flex;
  align-items: center;
  width: 100px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  background-color: #2dca4b;
  background-image: linear-gradient(315deg, #2dca4b 0%, #233329 74%);
  color: #fff;
  cursor: pointer;
}
.btn-footer {
  width: auto;
}
/*
.one {
  scroll-behavior: smooth;
}

.two {
  scroll-behavior: smooth;
}

.three {
  scroll-behavior: smooth;
}
*/

.wrap {
  padding: 5px;
}

.column {
  width: 32%;
  padding: 5px;
}

/*second-section*/

.about-us {
  background-color: #000000;
}

/*third-section*/

.gallery {
  background-color: #000000;
}
.grid__container {
  display: grid;
  grid-gap: 15px;
  padding:15px;
  width: 100%;
  min-height: 60vh;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: repeat(6,1fr);
  background-color: #2dca4b;
  box-shadow: 4px 4px 12px #233329;

}
.grid__item {
  border: 5px double #233329;
  overflow: hidden;
}
.picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.one {
  grid-row: 1/3;
  grid-column: 1/3;

}
.two {
  grid-row: 1/4;
  grid-column: 5/7;

}
.three {
  grid-row: 3/5;
  grid-column: 1/3;
}

.four {
  grid-row: 1/3;
  grid-column: 3/5;

}
.five {
  grid-row: 3/5;
  grid-column: 3/5;

}
.six {
  grid-row: 5/7;
  grid-column: 3/5;

}
.seven {
  grid-row: 4/7;
  grid-column: 5/7;

}
.eight {
  grid-row: 5/7;
  grid-column: 1/3;

}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


/*fourth-section*/

.contact-us {
  background-color: #000000;
}

.contact {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 11px;
}

.btn-contact {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.placeholder:hover, .select:hover {
  border-color:  #2dca4b;
  transition: all 0.6s ease-in-out;
}

.placeholder, .select {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}

.message:hover {
  border-color:  #2dca4b;
}

.checkbox-policy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  height: 18px;
}

.checkbox {
  margin-top: 12px;
  margin-bottom: 20px;
}

.policy {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 12px;
}

/*fifth-section*/

.footer {
  background-color: #000000;
  min-height: 100px;
}

.spacer {
    z-index: 1;
    aspect-ratio: 960/300;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
  margin-top: -1.5%;
  margin-bottom: -1.5%;
  background-image: url('.images/wave9.svg');
}

.layer2 {
    margin-top: -1%;
    background-image: url('.images/wave10.svg');
}

.flip {
    transform: rotate(180deg);
}
